@charset "UTF-8";

@font-face{
	font-family: 'YoonDokrip';
	src: url('./font/YoonDokrip.ttf') format('truetype');
}

*
{
    outline: none;
}

.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.searchinput, .searchbtn
{
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#searchbox{
	position: relative;
	box-sizing: border-box;
	border-radius: 40px 80px;
	width: auto;
	height: 170px;
	margin-top: 0px;
	margin-bottom: 50px;
/* 	background-color: #A1C5D3;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1); */
}

#searchtitle{
	position: absolute; 
	top: 20%; 
	left: 50%;
	transform:translate(-50%, 0%);
	font-size: 30pt;
	color: #634E41;
	font-family: 'YoonDokrip', sans-serif;

}

#cover
{
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 1300px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: #634E41;
    border-radius: 20px;
    box-shadow: 0 10px 40px #634E41, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}


.searchform
{
    height: 96px;
}

.searchinput[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 50px;
    line-height: 1;
}

.searchinput[type="text"]::placeholder
{
    color: rgba(255, 255, 255, 0.5);
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

.searchbtn
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.searchbtn span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.searchbtn span:before, .searchbtn span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

/* 안쓰는부분 */
/* #ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
} */