.container{
/*     margin-top : 8%; */
    overflow: auto;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}
.search{
    position: fixed;
    left:       0;
    bottom:     0;
    width:      100%;
    height:     32px;
}

@font-face {
   font-family: 'ONE-Mobile-POP';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

